body {
    background-color: #D2D2D3;
}

.jumbotron {
    background-image: url("../images/trains5.jpg");
    background-repeat: no-repeat;
    /* filter: grayscale(70%); */
    text-align: center;
    background-size: 100%;
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    
    
}

.firstHeader {
    font-weight: bolder;
    font-size: 70px;
    color:#BF5700;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.secondHeader {
    font-weight: 600;
    color: black;
    text-shadow:
		-2px -2px 0 white,
		2px -2px 0  white,
		-2px 2px 0 white,
		2px 2px 0  white;

}

.alert-secondary {
    background-color: #B4B9BF;
    border: #B4B9BF;
    padding: .25rem;
    margin: 1rem auto;
    width: 60%;
    font-weight: 500;
}

.card {
    margin: 20px auto;
}

.card-header {
    font-weight: 700;
    background-color: #BF5700;
}

.form-group {
    margin: 10px;
}

.btn-primary {
    background-color: black;
    margin: 10px;
    width: 150px;
    border: black;
}

.list-group-flush {
    margin: 0px auto;
}

.list-group-item {
    padding: 7px;
}